.video-sec-tiktok-profile {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
  .video-item {
    width: 203px;
    height: 280px;
    video {
      border-radius: 10px;
      width: 203px;
      height: 270px;
    }
    p {
      font-size: 15px;
    }
  }
}
