.pro-tk-sec {
  width: 100%;
  height: 625px;
  overflow: hidden;
  .profile-sec {
    width: 100%;
    .profile-sec-wraper {
      display: flex;
      flex-direction: row;
      width: 100%;
      .pro-siderbar {
        flex: 1;
        width: 230px;
        .pro-siderbar-wraper {
          overflow: auto;
          height: 565px;
        }
        .pro-siderbar-wraper::-webkit-scrollbar {
          width: 16px;
        }
        .pro-siderbar-wraper::-webkit-scrollbar-track {
          background-color: #fff;
        }
        .pro-siderbar-wraper::-webkit-scrollbar-thumb {
          background-color: #fff;
          border-radius: 100px;
        }
      }
      .profile-tiktok-user {
        width: 1106px;
        .profile-kkkk {
          overflow: auto;
          height: 565px;
          .pro-info-tik {
            width: 624px;
            height: 248px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            margin-top: 34px;
            margin-left: 4px;
            .pro-info-sec-kk {
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 20px;
              width: 100%;
              img {
                border-radius: 50%;
                width: 116px;
                height: 116px;
              }
              .t-info-pro {
                display: flex;
                width: 100%;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 110px;
                margin-top: 2px;
                .name-info-btn {
                  display: flex;
                  flex-direction: column;
                  width: 300px;
                  h2 {
                    font-family: unset;
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 38px;
                    margin-bottom: 4px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: left;
                  }
                  p {
                    font-size: 17px;
                    font-weight: 500;
                    color: black;
                    transform: translate(0px, -5px);
                  }
                  .btn {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    gap: 7px;
                    margin-top: 10px;

                    button.mess-btn-tt {
                      height: 37px;
                      width: 165px;
                      font-size: 18px;
                      font-weight: 600;
                      border: 1px solid red;
                      color: red;
                      border-radius: 5px;
                      cursor: pointer;
                    }
                    button.unfoll-btn-tt {
                      padding: 5px 7px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border: 1px solid #ddd;
                      border-radius: 5px;
                      cursor: pointer;
                      position: relative;

                      &:hover {
                        .unfo {
                          display: block;
                        }
                      }
                      .unfo {
                        position: absolute;
                        right: -30px;
                        top: 45px;
                        background-color: #616161;
                        border: 1px solid;
                        border-radius: 10px;
                        padding: 10px;
                        color: #fff;
                        display: none;
                        span {
                          font-size: 15px;
                          font-weight: 600;
                        }
                        .ss-sa {
                          display: block;
                          position: absolute;
                          width: 36px;
                          height: 8px;
                          background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDM2IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wIDhoNi42ODZhOCA4IDAgMCAwIDUuNjU3LTIuMzQzbDQuOTUtNC45NWExIDEgMCAwIDEgMS40MTQgMGw0Ljk1IDQuOTVBOCA4IDAgMCAwIDI5LjMxNCA4SDM2IDB6IiBmaWxsPSIjNTQ1NDU0IiBmaWxsLW9wYWNpdHk9Ii45MiIvPjwvc3ZnPg==);
                          top: -8px;
                          left: 50%;
                          margin-left: -18px;
                        }
                      }
                    }
                  }
                }
                .info-s {
                  display: flex;
                  gap: 16px;
                  transform: translate(3px, 7px);
                  .tiktok-pro-swsa {
                    cursor: pointer;
                  }
                  .share-ino-wes {
                    cursor: pointer;
                    &:hover {
                      .pro-share-info {
                        display: block;
                      }
                    }
                    .pro-share-info {
                      width: 280px;
                      position: absolute;
                      right: -9px;
                      top: 42px;
                      background-color: #fff;
                      border-radius: 10px;
                      box-shadow: 0px 7px 9px -10px rgb(0 0 0 / 75%);
                      padding: 10px;
                      display: none;

                      .ssad-ds {
                        display: block;
                        position: absolute;
                        width: 36px;
                        height: 38px;
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDM2IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wIDhoNi42ODZhOCA4IDAgMCAwIDUuNjU3LTIuMzQzbDQuOTUtNC45NWExIDEgMCAwIDEgMS40MTQgMGw0Ljk1IDQuOTVBOCA4IDAgMCAwIDI5LjMxNCA4SDM2IDB6IiBmaWxsPSIjNTQ1NDU0IiBmaWxsLW9wYWNpdHk9Ii45MiIvPjwvc3ZnPg==);
                        top: -15px;
                        left: 79%;
                        margin-left: -18px;
                        filter: opacity(0.1);
                      }
                      .item {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        padding-bottom: 20px;
                        span {
                          font-weight: 500;
                        }
                      }
                    }
                  }
                  .tiktok-pro-swsa {
                    &:hover {
                      .report-block {
                        display: block;
                        gap: 10px;
                      }
                    }
                    .report-block {
                      width: 130px;
                      position: absolute;
                      display: flex;
                      flex-direction: column;
                      right: -2px;
                      top: 24px;
                      box-shadow: 0px 7px 9px -10px rgb(0 0 0 / 75%);
                      padding: 10px;
                      background-color: #fff;
                      align-items: flex-end;
                      padding-top: 0px;
                      display: none;
                      .divider {
                        border-top: 1px solid #dfdfdf;
                        margin-top: 10px;
                      }
                      .btt {
                        margin-top: 10px;
                      }
                      .lssa-aa {
                        height: 33px;
                        width: 21px;
                      }
                      .item {
                        width: 100%;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                      }
                    }
                  }
                }
              }
            }
            .foll-foll-like-info {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-direction: row;
              width: 100%;
              gap: 20px;
              margin-top: 25px;
              .item {
                display: flex;
                gap: 5px;
                p {
                  font-weight: 300;
                  color: #898989;
                  font-size: 15px;
                }
              }
            }
            .text-sec {
              width: 100%;
              margin-top: 8px;
              p {
                font-size: 15px;
                color: #201f1f;
              }
            }
            .link-sec {
              display: flex;
              align-items: center;
              gap: 4px;
              margin-top: 6px;
              a {
                font-size: 15px;
                font-weight: 600;
                color: #201f1f;
                &:hover {
                  color: red;
                  text-decoration: underline;
                }
              }
            }
          }
          .pro-info-tik-body {
            width: 100%;
            .header-ti-pro-user {
              width: 49%;
              display: flex;
              justify-content: flex-start;
              margin-top: 29px;
              align-items: center;

              a.item {
                display: flex;
                gap: 10px;
                width: 230px;
                justify-content: center;
                align-items: center;
                height: auto;
                border-bottom: 2px solid #fff;
                color: black;
                padding-bottom: 6px;
                &:hover {
                  border-bottom: 2px solid rgb(0, 0, 0);
                }
                span.sec {
                  font-size: 16px;
                  font-weight: 600;
                }
                svg {
                  font-size: 20px;
                }
              }
              a.item:active {
                color: #898989;
              }
            }

            span {
              font-size: 18px;
              font-weight: 900;
            }
          }
        }
      }
    }
  }
}
